@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.game-background {
  transition: background 1.5s ease;
  background-size: 200% 200%;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100px;
  }
}

@keyframes slide-slow {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200px;
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
}

.animate-slide-slow {
  animation: slide-slow 4s linear infinite;
} 