@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  overflow: hidden;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100px;
  }
}

@keyframes slide-slow {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200px;
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
}

.animate-slide-slow {
  animation: slide-slow 4s linear infinite;
} 